.container {
  display: flex;
  flex-direction: column;
}

.input {
  border: 2px solid rgba(64, 64, 64, 0.5);
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;

  & :global .MuiInputBase-input {
    padding: 0;
    font-size: 16px;
    color: rgb(64, 64, 64);
  }
}

.label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: rgba(64, 64, 64, 0.5);
}